In [13]:
### pip install python-docx

In [14]:
import docx
import nltk
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import stopwords
from string import punctuation
import string
from nltk.stem.porter import PorterStemmer
import pandas as pd
import os
import re
from textblob import TextBlob
import numpy
import pandas_datareader.data as web
import datetime
import time
from collections import Counter
from gensim import corpora

## Download packages

In [15]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jingh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jingh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\jingh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\jingh\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

## Get File list in each company folder

In [16]:
def read_file(File_directory,Files,Company):
#     Copyright=[]
    date=[]
    title=[]
    company=[]
    text=[]
    for filename in Files:
    #absolute path
        filePath = File_directory+'/'+filename
        title.append(filename)
        company.append(Company)
        #read file
        doc = docx.Document(filePath)
        all_content=""
#       copyright=""
        for i in range(len(doc.paragraphs)):
            str=doc.paragraphs[i].text
            all_content=all_content+" "+str
#             if str.find("Copyright")!= -1:
#                 Copyright.append(str)
#                 #print(filename,str)
            if str.find("Load-Date")!=-1:
               date.append(str[11:])
        text.append(all_content)
    return company,date,text,title

## Create directory for each company and extract information from documents

In [17]:
IBM_directory = 'Articles/IBM'
IBMFiles = os.listdir(IBM_directory)
company_IBM,date_IBM,text_IBM,title_IBM=read_file(IBM_directory,IBMFiles,'IBM')

In [18]:
Apple_directory = 'Articles/Apple'
AppleFiles = os.listdir(Apple_directory)
company_Apple,date_Apple,text_Apple,title_Apple=read_file(Apple_directory,AppleFiles,'Apple')

In [19]:
Facebook_directory = 'Articles/facebook'
FacebookFiles = os.listdir(Facebook_directory)
company_Facebook,date_Facebook,text_Facebook,title_Facebook=read_file(Facebook_directory,FacebookFiles,'Facebook')

In [20]:
Walmart_directory = 'Articles\Walmart'
WalmartFiles = os.listdir(Walmart_directory)
company_Walmart,date_Walmart,text_Walmart,title_Walmart=read_file(Walmart_directory,WalmartFiles,'Walmart')

## Pepare data frame for company information

### Function to combine company name, pulication date, title and content to a data frame

In [21]:
def data_frame(company,date,text,title):
    data=pd.DataFrame(columns=['Company','Title','Date','content'])
    data['Company']=company
    data['Date']=date
#     data['Publisher']=Copyright
    data['content']=text
    data['Title']=title
    data = data.replace('\n','', regex=True)
    data=data.replace('\xa0', ' ',regex=True)
    data=data.replace('\xad', ' ',regex=True)
    data=data.replace('/', '')
    return data

##### IBM

In [22]:
data_IBM=data_frame(company_IBM,date_IBM,text_IBM,title_IBM)

In [23]:
data_IBM.head()

,Company,Title,Date,content
0,IBM,"Groupon, IBM Settle Patent Lawsuits In $57M De...","October 1, 2018","Benzinga October 1, 2018 Monday 5:50 PM E..."
1,IBM,"Growing pains, big dividend.docx","November 18, 2018","Spokesman Review (Spokane, WA) November 1..."
2,IBM,Growth fears drive FTSE 100 to two-year closin...,"December 18, 2018","The Guardian(London) December 18, 2018 Tu..."
3,IBM,Guyasuta Investment Advisors Inc. Reduces Posi...,"January 27, 2018","Transcript Daily January 27, 2018 Saturda..."
4,IBM,Habitat_ IBM exec's Ridgefield 'smart home' ha...,"July 20, 2018","The News-Times (Danbury, Connecticut) Jul..."

#### Apple

In [24]:
data_Apple=data_frame(company_Apple,date_Apple,text_Apple,title_Apple)

In [25]:
data_Apple.head()

,Company,Title,Date,content
0,Apple,"'Always Sunny' and Apple, Crocpocalypse averte...","August 17, 2018","RedEye, Chicago August 17, 2018 Friday C..."
1,Apple,'China's Apple' opens biggest IPO in three yea...,"May 3, 2018","Australian Financial Review May 4, 2018 F..."
2,Apple,'i had convinced myself that steve would live ...,"April 28, 2018","The Times (London) April 28, 2018 Saturda..."
3,Apple,'Infuriated' Mark Zuckerberg told Facebook sta...,"November 15, 2018","MailOnline November 15, 2018 Thursday 3:0..."
4,Apple,14 shops that would send city into the retail ...,"November 13, 2018","Nottingham Post November 13, 2018 Tuesday..."

##### Facebook

In [26]:
data_Facebook=data_frame(company_Facebook,date_Facebook,text_Facebook,title_Facebook)

In [27]:
data_Facebook.head()

,Company,Title,Date,content
0,Facebook,'A grand illusion'_ seven days that shattered ...,"June 20, 2018","The Guardian(London) March 24, 2018 Satur..."
1,Facebook,'Educational' Holocaust post deleted from Face...,"August 30, 2018","thetimes.co.uk August 31, 2018 Friday 12:..."
2,Facebook,'I made Steve Bannon's psychological warfare t...,"March 20, 2018","The Observer(London) March 17, 2018 Satur..."
3,Facebook,'I made Steve Bannon's psychological warfare t...,"June 20, 2018","The Guardian(London) March 17, 2018 Satur..."
4,Facebook,'SADNESS' FOR DEC;Follow me on Twitter_ @danwo...,"April 9, 2018","The Sun (England) April 9, 2018 Monday, E..."

##### Walmart

In [28]:
data_Walmart=data_frame(company_Walmart,date_Walmart,text_Walmart,title_Walmart)

In [29]:
data_Walmart.head()

,Company,Title,Date,content
0,Walmart,-Advent Closes Investment in 80 Percent Stake ...,"August 3, 2018","ENP Newswire August 3, 2018 Friday Copyr..."
1,Walmart,-DBRS Comments on Combination of J Sainsbury p...,"May 2, 2018","ENP Newswire May 2, 2018 Wednesday Copyr..."
2,Walmart,"1,066 Shares in Walmart Inc (WMT) Purchased by...","April 12, 2018","Zolmax.com April 12, 2018 Thursday 10:46 ..."
3,Walmart,"195,000 Shares in Walmart Inc (WMT) Purchased ...","June 30, 2018","DailyPolitical June 30, 2018 Saturday 9:3..."
4,Walmart,"195,000 Shares in Walmart Inc (WMT) Purchased ...","June 30, 2018","Week Herald June 30, 2018 Saturday 4:11 P..."

## Content Cleansing

### Stop words

In [30]:
stop_words = set(stopwords.words('english'))
stop_append = ['.', ',', '`', '"', "'", '!', ';',  '%','$','/','[',']',':','...','y/y',]
stop_word = list(stop_words.union(stop_append))

### None english words

In [31]:
pattern = re.compile(r'[0-9]+|\b[\w]{2,2}\b|[%.,_`!"&?\')({~@;:#}+-]+|\b[\w]{1,1}\b')

### Function to unify part of speech

In [32]:
def tagging(tag):   
    if tag[1].startswith('J'):   
        return nltk.stem.wordnet.wordnet.ADJ 
    elif tag[1].startswith('V'):   
        return nltk.stem.wordnet.wordnet.VERB
    elif tag[1].startswith('N'):   
        return nltk.stem.wordnet.wordnet.NOUN
    elif tag[1].startswith('R'):   
        return nltk.stem.wordnet.wordnet.ADV
    else : return nltk.stem.wordnet.wordnet.NOUN

### Function to clean document content: remove stop words and non english words.

In [33]:
def content_cleansing(df):
    df['content']=df['content'].str.lower()
    df['token']=df['content'].apply(word_tokenize)
    df['token_clean'] = df['token'].apply(lambda x: [word for word in x if word not in stop_word])
    df['token_clean']=df['token_clean'].apply(lambda x: [pattern.sub('', word) for word in x])
    df['token_clean']=df['token_clean'].apply(lambda x: [word for word in x if len(word) > 2])
    df['pos']=df['token_clean'].apply(nltk.tag.pos_tag)
    df['tagged_pos'] =df['pos'].apply(lambda x: [(t[0], tagging(t[1])) for t in x])
    df['stem']=df['tagged_pos'].apply(lambda x:[WordNetLemmatizer().lemmatize(word = t[0], pos = t[1]) for t in x])
#     df['stem_str']= df['stem'].apply([lambda x: " ".join(i for i in x)])
    df['month']=df['Date'].apply(lambda x:x[:-8])
    df['month']=df['month'].str.lstrip()
    df['month']=df['month'].str.rstrip()
    return df.head()

##### IBM

In [34]:
 content_cleansing(data_IBM)

,Company,Title,Date,content,token,token_clean,pos,tagged_pos,stem,month
0,IBM,"Groupon, IBM Settle Patent Lawsuits In $57M De...","October 1, 2018","benzinga october 1, 2018 monday 5:50 pm e...","[benzinga, october, 1, ,, 2018, monday, 5:50, ...","[benzinga, october, monday, est, copyright, ne...","[(benzinga, NN), (october, MD), (monday, VB), ...","[(benzinga, n), (october, n), (monday, n), (es...","[benzinga, october, monday, est, copyright, ne...",October
1,IBM,"Growing pains, big dividend.docx","November 18, 2018","spokesman review (spokane, wa) november 1...","[spokesman, review, (, spokane, ,, wa, ), nove...","[spokesman, review, spokane, november, sunday,...","[(spokesman, NN), (review, NN), (spokane, NN),...","[(spokesman, n), (review, n), (spokane, n), (n...","[spokesman, review, spokane, november, sunday,...",November
2,IBM,Growth fears drive FTSE 100 to two-year closin...,"December 18, 2018","the guardian(london) december 18, 2018 tu...","[the, guardian, (, london, ), december, 18, ,,...","[guardian, london, december, tuesday, gmt, cop...","[(guardian, JJ), (london, NN), (december, NN),...","[(guardian, a), (london, n), (december, n), (t...","[guardian, london, december, tuesday, gmt, cop...",December
3,IBM,Guyasuta Investment Advisors Inc. Reduces Posi...,"January 27, 2018","transcript daily january 27, 2018 saturda...","[transcript, daily, january, 27, ,, 2018, satu...","[transcript, daily, january, saturday, est, co...","[(transcript, JJ), (daily, JJ), (january, NN),...","[(transcript, a), (daily, a), (january, n), (s...","[transcript, daily, january, saturday, est, co...",January
4,IBM,Habitat_ IBM exec's Ridgefield 'smart home' ha...,"July 20, 2018","the news-times (danbury, connecticut) jul...","[the, news-times, (, danbury, ,, connecticut, ...","[newstimes, danbury, connecticut, july, friday...","[(newstimes, RB), (danbury, NN), (connecticut,...","[(newstimes, n), (danbury, n), (connecticut, a...","[newstimes, danbury, connecticut, july, friday...",July

##### Apple

In [35]:
content_cleansing(data_Apple)

,Company,Title,Date,content,token,token_clean,pos,tagged_pos,stem,month
0,Apple,"'Always Sunny' and Apple, Crocpocalypse averte...","August 17, 2018","redeye, chicago august 17, 2018 friday c...","[redeye, ,, chicago, august, 17, ,, 2018, frid...","[redeye, chicago, august, friday, copyright, d...","[(redeye, NN), (chicago, NN), (august, NN), (f...","[(redeye, n), (chicago, n), (august, n), (frid...","[redeye, chicago, august, friday, copyright, d...",August
1,Apple,'China's Apple' opens biggest IPO in three yea...,"May 3, 2018","australian financial review may 4, 2018 f...","[australian, financial, review, may, 4, ,, 201...","[australian, financial, review, may, friday, p...","[(australian, JJ), (financial, JJ), (review, N...","[(australian, a), (financial, a), (review, n),...","[australian, financial, review, may, friday, p...",May
2,Apple,'i had convinced myself that steve would live ...,"April 28, 2018","the times (london) april 28, 2018 saturda...","[the, times, (, london, ), april, 28, ,, 2018,...","[times, london, april, saturday, edition, nati...","[(times, NNS), (london, VBP), (april, JJ), (sa...","[(times, n), (london, n), (april, a), (saturda...","[time, london, april, saturday, edition, natio...",April
3,Apple,'Infuriated' Mark Zuckerberg told Facebook sta...,"November 15, 2018","mailonline november 15, 2018 thursday 3:0...","[mailonline, november, 15, ,, 2018, thursday, ...","[mailonline, november, thursday, gmt, copyrigh...","[(mailonline, JJ), (november, NN), (thursday, ...","[(mailonline, a), (november, n), (thursday, a)...","[mailonline, november, thursday, gmt, copyrigh...",November
4,Apple,14 shops that would send city into the retail ...,"November 13, 2018","nottingham post november 13, 2018 tuesday...","[nottingham, post, november, 13, ,, 2018, tues...","[nottingham, post, november, tuesday, edition,...","[(nottingham, JJ), (post, NN), (november, NN),...","[(nottingham, a), (post, n), (november, n), (t...","[nottingham, post, november, tuesday, edition,...",November

##### Facebook

In [36]:
content_cleansing(data_Facebook)

,Company,Title,Date,content,token,token_clean,pos,tagged_pos,stem,month
0,Facebook,'A grand illusion'_ seven days that shattered ...,"June 20, 2018","the guardian(london) march 24, 2018 satur...","[the, guardian, (, london, ), march, 24, ,, 20...","[guardian, london, march, saturday, gmt, copyr...","[(guardian, JJ), (london, NN), (march, NN), (s...","[(guardian, a), (london, n), (march, n), (satu...","[guardian, london, march, saturday, gmt, copyr...",June
1,Facebook,'Educational' Holocaust post deleted from Face...,"August 30, 2018","thetimes.co.uk august 31, 2018 friday 12:...","[thetimes.co.uk, august, 31, ,, 2018, friday, ...","[thetimes, august, friday, gmt, copyright, new...","[(thetimes, NNS), (august, VBP), (friday, JJ),...","[(thetimes, n), (august, n), (friday, a), (gmt...","[thetimes, august, friday, gmt, copyright, new...",August
2,Facebook,'I made Steve Bannon's psychological warfare t...,"March 20, 2018","the observer(london) march 17, 2018 satur...","[the, observer, (, london, ), march, 17, ,, 20...","[observer, london, march, saturday, gmt, copyr...","[(observer, RB), (london, VBN), (march, NN), (...","[(observer, n), (london, n), (march, n), (satu...","[observer, london, march, saturday, gmt, copyr...",March
3,Facebook,'I made Steve Bannon's psychological warfare t...,"June 20, 2018","the guardian(london) march 17, 2018 satur...","[the, guardian, (, london, ), march, 17, ,, 20...","[guardian, london, march, saturday, gmt, copyr...","[(guardian, JJ), (london, NN), (march, NN), (s...","[(guardian, a), (london, n), (march, n), (satu...","[guardian, london, march, saturday, gmt, copyr...",June
4,Facebook,'SADNESS' FOR DEC;Follow me on Twitter_ @danwo...,"April 9, 2018","the sun (england) april 9, 2018 monday, e...","[the, sun, (, england, ), april, 9, ,, 2018, m...","[sun, england, april, monday, edition, nationa...","[(sun, NN), (england, NN), (april, NN), (monda...","[(sun, n), (england, n), (april, n), (monday, ...","[sun, england, april, monday, edition, nationa...",April

#### Walmart

In [37]:
content_cleansing(data_Walmart)

,Company,Title,Date,content,token,token_clean,pos,tagged_pos,stem,month
0,Walmart,-Advent Closes Investment in 80 Percent Stake ...,"August 3, 2018","enp newswire august 3, 2018 friday copyr...","[enp, newswire, august, 3, ,, 2018, friday, co...","[enp, newswire, august, friday, copyright, nor...","[(enp, NN), (newswire, NN), (august, NN), (fri...","[(enp, n), (newswire, n), (august, n), (friday...","[enp, newswire, august, friday, copyright, nor...",August
1,Walmart,-DBRS Comments on Combination of J Sainsbury p...,"May 2, 2018","enp newswire may 2, 2018 wednesday copyr...","[enp, newswire, may, 2, ,, 2018, wednesday, co...","[enp, newswire, may, wednesday, copyright, nor...","[(enp, JJ), (newswire, NN), (may, MD), (wednes...","[(enp, a), (newswire, n), (may, n), (wednesday...","[enp, newswire, may, wednesday, copyright, nor...",May
2,Walmart,"1,066 Shares in Walmart Inc (WMT) Purchased by...","April 12, 2018","zolmax.com april 12, 2018 thursday 10:46 ...","[zolmax.com, april, 12, ,, 2018, thursday, 10:...","[zolmaxcom, april, thursday, est, copyright, n...","[(zolmaxcom, NN), (april, NN), (thursday, NN),...","[(zolmaxcom, n), (april, n), (thursday, n), (e...","[zolmaxcom, april, thursday, est, copyright, n...",April
3,Walmart,"195,000 Shares in Walmart Inc (WMT) Purchased ...","June 30, 2018","dailypolitical june 30, 2018 saturday 9:3...","[dailypolitical, june, 30, ,, 2018, saturday, ...","[dailypolitical, june, saturday, est, copyrigh...","[(dailypolitical, JJ), (june, NN), (saturday, ...","[(dailypolitical, a), (june, n), (saturday, n)...","[dailypolitical, june, saturday, est, copyrigh...",June
4,Walmart,"195,000 Shares in Walmart Inc (WMT) Purchased ...","June 30, 2018","week herald june 30, 2018 saturday 4:11 p...","[week, herald, june, 30, ,, 2018, saturday, 4:...","[week, herald, june, saturday, est, copyright,...","[(week, NN), (herald, NN), (june, NN), (saturd...","[(week, n), (herald, n), (june, n), (saturday,...","[week, herald, june, saturday, est, copyright,...",June

## Get stock returns

In [38]:
tickers=["IBM","AAPL","FB","WMT"]

### Function to calculate monthly stock returns

In [39]:
def MonthlyReturn(tickers):

# Create an empty dataframe with tickers and date from Jan 2015
    Month = pd.date_range("2017-12-31", periods=13, freq='M')
    returns = pd.DataFrame(columns=tickers)
# download dataframe
    for i in tickers:
# Get daily data from yahoo
        df0 = web.get_data_yahoo(i, "2017-12-01", "2018-12-31")
        df1 = df0.resample('M').apply(lambda x:x[-1])
        returns[i]= df1["Adj Close"]/df1["Adj Close"].shift(1)-1
# the timer is to prevent yahoo from blocking us 
        time.sleep(10)
#returns.head()
    return returns

### Function to add month as a column for stock returns

In [40]:
def return_df (tickers):
    returns=MonthlyReturn(tickers)
    returns['month'] = returns.index
    returns=returns.reset_index(drop = True)
    returns['month']=returns['month'].apply(lambda x: x.strftime('%B'))
    returns.drop(0,axis=0,inplace=True)  
    return returns

In [41]:
returns=return_df(tickers)
returns.head()

        IBM      AAPL        FB       WMT     month
1  0.067006 -0.010636  0.059107  0.079494   January
2 -0.038703  0.068185 -0.045856 -0.155628  February
3 -0.015401 -0.058051 -0.103914 -0.005661     March
4 -0.055204 -0.015020  0.076413 -0.005732     April
5 -0.014358  0.135124  0.115000 -0.061044       May

### Function to merge company data, return data and sign value

In [42]:
def company_return(comp_df,returns,company_stock):
    company_return=pd.merge(comp_df,returns[[company_stock,'month']],on='month')
    company_return["sign function"]=company_return[company_stock].apply([lambda x: 0 if x<0 else 1])
    return company_return

##### Apple

In [43]:
apple_return=company_return(data_Apple,returns,'AAPL')
apple_return.head()

,Company,Title,Date,content,token,token_clean,pos,tagged_pos,stem,month,AAPL,sign function
0,Apple,"'Always Sunny' and Apple, Crocpocalypse averte...","August 17, 2018","redeye, chicago august 17, 2018 friday c...","[redeye, ,, chicago, august, 17, ,, 2018, frid...","[redeye, chicago, august, friday, copyright, d...","[(redeye, NN), (chicago, NN), (august, NN), (f...","[(redeye, n), (chicago, n), (august, n), (frid...","[redeye, chicago, august, friday, copyright, d...",August,0.200422,1
1,Apple,Apple becomes first US trillion dollar company...,"August 3, 2018","the times (london) august 3, 2018 friday,...","[the, times, (, london, ), august, 3, ,, 2018,...","[times, london, august, friday, edition, natio...","[(times, NNS), (london, JJ), (august, JJ), (fr...","[(times, n), (london, a), (august, a), (friday...","[time, london, august, friday, edition, nation...",August,0.200422,1
2,Apple,Apple becomes first US trillion dollar company...,"August 3, 2018","the times (london) august 3, 2018 friday,...","[the, times, (, london, ), august, 3, ,, 2018,...","[times, london, august, friday, edition, irela...","[(times, NNS), (london, JJ), (august, JJ), (fr...","[(times, n), (london, a), (august, a), (friday...","[time, london, august, friday, edition, irelan...",August,0.200422,1
3,Apple,Apple becomes first US trillion dollar company...,"August 3, 2018","the times (london) august 3, 2018 friday,...","[the, times, (, london, ), august, 3, ,, 2018,...","[times, london, august, friday, edition, scotl...","[(times, NNS), (london, JJ), (august, JJ), (fr...","[(times, n), (london, a), (august, a), (friday...","[time, london, august, friday, edition, scotla...",August,0.200422,1
4,Apple,Apple shares open 4.4% higher as its value hea...,"August 1, 2018","the guardian(london) august 1, 2018 wedne...","[the, guardian, (, london, ), august, 1, ,, 20...","[guardian, london, august, wednesday, gmt, cop...","[(guardian, JJ), (london, NN), (august, NN), (...","[(guardian, a), (london, n), (august, n), (wed...","[guardian, london, august, wednesday, gmt, cop...",August,0.200422,1

##### IBM

In [44]:
IBM_return=company_return(data_IBM,returns,'IBM')
IBM_return.head()

,Company,Title,Date,content,token,token_clean,pos,tagged_pos,stem,month,IBM,sign function
0,IBM,"Groupon, IBM Settle Patent Lawsuits In $57M De...","October 1, 2018","benzinga october 1, 2018 monday 5:50 pm e...","[benzinga, october, 1, ,, 2018, monday, 5:50, ...","[benzinga, october, monday, est, copyright, ne...","[(benzinga, NN), (october, MD), (monday, VB), ...","[(benzinga, n), (october, n), (monday, n), (es...","[benzinga, october, monday, est, copyright, ne...",October,-0.236625,0
1,IBM,Hamilton-born Red Hat founder Bob Young reflec...,"October 29, 2018",breaking news from globeandmail.com octob...,"[breaking, news, from, globeandmail.com, octob...","[breaking, news, globeandmailcom, october, mon...","[(breaking, VBG), (news, NN), (globeandmailcom...","[(breaking, n), (news, n), (globeandmailcom, n...","[breaking, news, globeandmailcom, october, mon...",October,-0.236625,0
2,IBM,"Head of IBM Watson Health Steps Down, STAT Rep...","October 23, 2018","head of ibm watson health steps down, stat...","[head, of, ibm, watson, health, steps, down, ,...","[head, ibm, watson, health, steps, stat, repor...","[(head, NN), (ibm, NN), (watson, NN), (health,...","[(head, n), (ibm, n), (watson, n), (health, n)...","[head, ibm, watson, health, step, stat, report...",October,-0.236625,0
3,IBM,IBM Acquires Redhat_ Now What_.docx,"October 30, 2018","gurufocus.com october 29, 2018 monday 8:0...","[gurufocus.com, october, 29, ,, 2018, monday, ...","[gurufocuscom, october, monday, est, copyright...","[(gurufocuscom, NN), (october, MD), (monday, V...","[(gurufocuscom, n), (october, n), (monday, n),...","[gurufocuscom, october, monday, est, copyright...",October,-0.236625,0
4,IBM,"IBM Bond Yields, Default Risk Spike After Red ...","October 29, 2018","phil's stock world october 29, 2018 monda...","[phil, 's, stock, world, october, 29, ,, 2018,...","[phil, stock, world, october, monday, est, cop...","[(phil, NN), (stock, NN), (world, NN), (octobe...","[(phil, n), (stock, n), (world, n), (october, ...","[phil, stock, world, october, monday, est, cop...",October,-0.236625,0

##### Facebook

In [45]:
Facebook_return=company_return(data_Facebook,returns,'FB')
Facebook_return.head()

,Company,Title,Date,content,token,token_clean,pos,tagged_pos,stem,month,FB,sign function
0,Facebook,'A grand illusion'_ seven days that shattered ...,"June 20, 2018","the guardian(london) march 24, 2018 satur...","[the, guardian, (, london, ), march, 24, ,, 20...","[guardian, london, march, saturday, gmt, copyr...","[(guardian, JJ), (london, NN), (march, NN), (s...","[(guardian, a), (london, n), (march, n), (satu...","[guardian, london, march, saturday, gmt, copyr...",June,0.013244,1
1,Facebook,'I made Steve Bannon's psychological warfare t...,"June 20, 2018","the guardian(london) march 17, 2018 satur...","[the, guardian, (, london, ), march, 17, ,, 20...","[guardian, london, march, saturday, gmt, copyr...","[(guardian, JJ), (london, NN), (march, NN), (s...","[(guardian, a), (london, n), (march, n), (satu...","[guardian, london, march, saturday, gmt, copyr...",June,0.013244,1
2,Facebook,A Risky Bet on Instagram Is Paying Off for Fac...,"June 28, 2018","the new york times june 28, 2018 thursday...","[the, new, york, times, june, 28, ,, 2018, thu...","[new, york, times, june, thursday, late, editi...","[(new, JJ), (york, NN), (times, NNS), (june, J...","[(new, a), (york, n), (times, n), (june, a), (...","[new, york, time, june, thursday, late, editio...",June,0.013244,1
3,Facebook,AT SENATE COMMERCE COMMITTEE HEARING ON CAMBRI...,"June 21, 2018","states news service june 20, 2018 wednesd...","[states, news, service, june, 20, ,, 2018, wed...","[states, news, service, june, wednesday, copyr...","[(states, NNS), (news, NN), (service, NN), (ju...","[(states, n), (news, n), (service, n), (june, ...","[state, news, service, june, wednesday, copyri...",June,0.013244,1
4,Facebook,Bug made private posts of 14mn Facebook users ...,"June 8, 2018","ians-english june 8, 2018 friday copyrig...","[ians-english, june, 8, ,, 2018, friday, copyr...","[iansenglish, june, friday, copyright, ffc, in...","[(iansenglish, JJ), (june, NN), (friday, NN), ...","[(iansenglish, a), (june, n), (friday, n), (co...","[iansenglish, june, friday, copyright, ffc, in...",June,0.013244,1

#### Walmart

In [46]:
Walmart_return=company_return(data_Walmart,returns,'WMT')
Walmart_return.head()

,Company,Title,Date,content,token,token_clean,pos,tagged_pos,stem,month,WMT,sign function
0,Walmart,-Advent Closes Investment in 80 Percent Stake ...,"August 3, 2018","enp newswire august 3, 2018 friday copyr...","[enp, newswire, august, 3, ,, 2018, friday, co...","[enp, newswire, august, friday, copyright, nor...","[(enp, NN), (newswire, NN), (august, NN), (fri...","[(enp, n), (newswire, n), (august, n), (friday...","[enp, newswire, august, friday, copyright, nor...",August,0.080542,1
1,Walmart,Advent Closes Investment in 80 Percent Stake i...,"August 2, 2018","business wire august 1, 2018 wednesday 8:...","[business, wire, august, 1, ,, 2018, wednesday...","[business, wire, august, wednesday, gmt, copyr...","[(business, NN), (wire, NN), (august, NN), (we...","[(business, n), (wire, n), (august, n), (wedne...","[business, wire, august, wednesday, gmt, copyr...",August,0.080542,1
2,Walmart,Advisory Services Network LLC Has $4.15 Millio...,"August 8, 2018","dailypolitical august 7, 2018 tuesday 10:...","[dailypolitical, august, 7, ,, 2018, tuesday, ...","[dailypolitical, august, tuesday, est, copyrig...","[(dailypolitical, JJ), (august, NN), (tuesday,...","[(dailypolitical, a), (august, n), (tuesday, n...","[dailypolitical, august, tuesday, est, copyrig...",August,0.080542,1
3,Walmart,"American Century Companies Inc. Sells 1,379,34...","August 31, 2018","week herald august 31, 2018 friday 9:09 a...","[week, herald, august, 31, ,, 2018, friday, 9:...","[week, herald, august, friday, est, copyright,...","[(week, NN), (herald, NN), (august, RB), (frid...","[(week, n), (herald, n), (august, n), (friday,...","[week, herald, august, friday, est, copyright,...",August,0.080542,1
4,Walmart,Arizona State Retirement System Grows Holdings...,"August 28, 2018","theolympiareport august 28, 2018 tuesday ...","[theolympiareport, august, 28, ,, 2018, tuesda...","[theolympiareport, august, tuesday, est, copyr...","[(theolympiareport, NN), (august, NN), (tuesda...","[(theolympiareport, n), (august, n), (tuesday,...","[theolympiareport, august, tuesday, est, copyr...",August,0.080542,1

## Screening for sentiment-charged words

### get all document frequency

In [47]:
stem_all=pd.concat([apple_return[['stem','sign function']],IBM_return[['stem','sign function']],Facebook_return[['stem','sign function']],Walmart_return[['stem','sign function']]])
stem_all.head()

                                                stem  sign function
0  [redeye, chicago, august, friday, copyright, d...              1
1  [time, london, august, friday, edition, nation...              1
2  [time, london, august, friday, edition, irelan...              1
3  [time, london, august, friday, edition, scotla...              1
4  [guardian, london, august, wednesday, gmt, cop...              1

### Calcuate document frequencies of each word

In [48]:
dictionary = corpora.Dictionary(stem_all['stem'])
word_dic={}
for key,value in dictionary.dfs.items():
    word=dictionary[key]
    word_dic[word]=value

### Assume =100 and get document frequncies for all words

In [49]:
for word in word_dic.copy():
    if word_dic[word]<100:
        word_dic.pop(word)
word_dic

{'ability': 161,
 'able': 254,
 'access': 240,
 'accessed': 129,
 'according': 770,
 'account': 284,
 'accused': 126,
 'acquired': 172,
 'acquiring': 198,
 'acquisition': 114,
 'across': 260,
 'act': 175,
 'action': 281,
 'activity': 165,
 'actually': 162,
 'ad': 138,
 'add': 114,
 'added': 397,
 'adding': 120,
 'addition': 117,
 'additional': 528,
 'address': 301,
 'administration': 113,
 'advertising': 169,
 'advisor': 175,
 'affect': 100,
 'affected': 118,
 'age': 112,
 'agency': 164,
 'ago': 239,
 'agreed': 112,
 'agreement': 144,
 'ahead': 182,
 'alice': 129,
 'allow': 165,
 'allowed': 160,
 'allowing': 101,
 'almost': 183,
 'along': 151,
 'already': 290,
 'also': 1292,
 'although': 134,
 'always': 154,
 'amazon': 215,
 'america': 302,
 'american': 424,
 'among': 285,
 'amount': 204,
 'analysis': 111,
 'analyst': 650,
 'analytica': 223,
 'analytics': 147,
 'announced': 427,
 'announcement': 103,
 'annual': 128,
 'annualized': 103,
 'another': 352,
 'answer': 117,
 'anticipate': 102,
 'anything': 112,
 'app': 237,
 'apple': 493,
 'application': 284,
 'approach': 104,
 'approximately': 334,
 'apps': 184,
 'april': 315,
 'area': 181,
 'around': 532,
 'article': 257,
 'artificial': 130,
 'ask': 116,
 'asked': 221,
 'asset': 252,
 'assigned': 238,
 'associate': 119,
 'associated': 176,
 'attempt': 113,
 'august': 341,
 'authority': 127,
 'available': 362,
 'average': 524,
 'away': 168,
 'back': 383,
 'bad': 203,
 'bank': 426,
 'banking': 151,
 'based': 350,
 'basis': 291,
 'beating': 173,
 'became': 135,
 'become': 240,
 'began': 146,
 'behind': 163,
 'belief': 144,
 'believe': 203,
 'benefit': 152,
 'best': 197,
 'beta': 395,
 'better': 212,
 'beyond': 146,
 'big': 550,
 'billion': 868,
 'bloomberg': 112,
 'board': 193,
 'body': 1761,
 'bonoboscom': 205,
 'boost': 104,
 'boosted': 163,
 'bought': 264,
 'brand': 165,
 'breach': 129,
 'break': 118,
 'bring': 124,
 'british': 110,
 'broad': 123,
 'brought': 118,
 'build': 197,
 'building': 147,
 'built': 128,
 'business': 1116,
 'buy': 612,
 'buying': 282,
 'byline': 931,
 'california': 220,
 'call': 300,
 'called': 324,
 'cambridge': 227,
 'came': 240,
 'campaign': 197,
 'canada': 291,
 'cap': 221,
 'capability': 129,
 'capital': 374,
 'capitalization': 218,
 'carry': 258,
 'case': 397,
 'cash': 343,
 'cause': 137,
 'cent': 242,
 'center': 146,
 'ceo': 333,
 'certain': 160,
 'chain': 116,
 'chairman': 125,
 'challenge': 171,
 'change': 552,
 'changed': 119,
 'charge': 182,
 'chase': 138,
 'check': 109,
 'chief': 442,
 'china': 238,
 'chinese': 134,
 'city': 160,
 'claim': 217,
 'clear': 216,
 'client': 114,
 'close': 209,
 'closed': 107,
 'cloud': 176,
 'club': 342,
 'clubs': 208,
 'cognitive': 107,
 'come': 386,
 'coming': 185,
 'comment': 241,
 'commented': 121,
 'commerce': 348,
 'commercial': 109,
 'commission': 491,
 'committee': 153,
 'common': 161,
 'communication': 175,
 'community': 196,
 'company': 1502,
 'compared': 501,
 'competition': 135,
 'competitor': 102,
 'complaint': 103,
 'completion': 179,
 'computer': 245,
 'computing': 117,
 'concern': 267,
 'concise': 127,
 'conference': 116,
 'congress': 139,
 'consensus': 435,
 'consider': 100,
 'consumer': 307,
 'contact': 188,
 'content': 305,
 'continue': 221,
 'continued': 142,
 'continues': 134,
 'contract': 108,
 'control': 226,
 'convenience': 228,
 'cook': 118,
 'copyright': 1761,
 'corp': 238,
 'corporate': 228,
 'corporation': 186,
 'cost': 273,
 'could': 669,
 'country': 322,
 'course': 117,
 'court': 270,
 'create': 213,
 'created': 167,
 'creating': 112,
 'credit': 205,
 'current': 617,
 'currently': 402,
 'customer': 360,
 'cut': 314,
 'daily': 315,
 'damage': 129,
 'data': 695,
 'date': 223,
 'dated': 158,
 'dateline': 146,
 'david': 159,
 'day': 591,
 'deal': 267,
 'debtequity': 359,
 'decade': 166,
 'december': 398,
 'decision': 278,
 'decline': 136,
 'declined': 153,
 'deliver': 105,
 'delivered': 459,
 'demand': 191,
 'department': 175,
 'design': 117,
 'designed': 121,
 'despite': 197,
 'detail': 168,
 'developed': 100,
 'developer': 141,
 'development': 185,
 'device': 246,
 'different': 195,
 'difficult': 110,
 'digital': 341,
 'direct': 132,
 'directly': 300,
 'director': 371,
 'disclosed': 359,
 'disclosure': 351,
 'discount': 234,
 'dispute': 104,
 'dividend': 153,
 'division': 178,
 'document': 1761,
 'dollar': 175,
 'donald': 160,
 'done': 169,
 'dropped': 122,
 'drugstore': 206,
 'due': 176,
 'earlier': 256,
 'early': 307,
 'earned': 200,
 'earnings': 544,
 'easy': 136,
 'economic': 137,
 'economy': 145,
 'edition': 369,
 'effect': 120,
 'effort': 248,
 'either': 136,
 'election': 244,
 'email': 281,
 'employee': 257,
 'end': 1761,
 'ended': 139,
 'energy': 136,
 'engaged': 178,
 'engages': 211,
 'england': 108,
 'enough': 193,
 'ensure': 105,
 'enter': 165,
 'entire': 103,
 'environment': 100,
 'eps': 385,
 'equity': 448,
 'especially': 124,
 'est': 526,
 'estimate': 522,
 'europe': 144,
 'european': 155,
 'even': 469,
 'event': 169,
 'ever': 169,
 'every': 274,
 'everyone': 107,
 'everything': 139,
 'evidence': 158,
 'example': 184,
 'exchange': 335,
 'executive': 469,
 'existing': 101,
 'expect': 244,
 'expectation': 229,
 'expected': 276,
 'experience': 198,
 'expert': 158,
 'face': 210,
 'facebook': 601,
 'fact': 212,
 'factor': 100,
 'failed': 131,
 'fake': 138,
 'fall': 134,
 'family': 125,
 'far': 237,
 'fast': 104,
 'fear': 108,
 'feature': 216,
 'february': 325,
 'federal': 248,
 'feel': 147,
 'fell': 169,
 'figure': 163,
 'file': 112,
 'filed': 311,
 'filing': 481,
 'final': 144,
 'finally': 477,
 'financial': 526,
 'find': 222,
 'finding': 131,
 'fine': 106,
 'firm': 755,
 'first': 691,
 'fiscal': 261,
 'five': 273,
 'focus': 191,
 'focused': 120,
 'follow': 189,
 'following': 557,
 'force': 157,
 'forecast': 207,
 'foreign': 123,
 'form': 189,
 'format': 332,
 'former': 230,
 'forward': 162,
 'found': 568,
 'founded': 112,
 'founder': 192,
 'four': 210,
 'fourth': 169,
 'francisco': 105,
 'free': 319,
 'friday': 718,
 'friend': 178,
 'front': 102,
 'full': 208,
 'fund': 479,
 'future': 281,
 'gain': 162,
 'gave': 443,
 'general': 249,
 'get': 611,
 'getting': 149,
 'giant': 359,
 'give': 291,
 'given': 480,
 'giving': 134,
 'global': 435,
 'gmt': 203,
 'goal': 118,
 'going': 284,
 'goldman': 152,
 'good': 429,
 'google': 276,
 'got': 129,
 'government': 278,
 'graphic': 146,
 'great': 261,
 'grew': 212,
 'group': 814,
 'growing': 194,
 'growth': 317,
 'half': 159,
 'hand': 159,
 'hard': 164,
 'hayneedlecom': 205,
 'head': 155,
 'health': 129,
 'hearing': 141,
 'hedge': 399,
 'held': 174,
 'help': 403,
 'helped': 139,
 'helping': 105,
 'herald': 102,
 'high': 733,
 'highlight': 140,
 'history': 157,
 'hit': 174,
 'hold': 551,
 'holding': 487,
 'holdingschannelcom': 179,
 'home': 198,
 'hope': 136,
 'hour': 146,
 'house': 178,
 'however': 327,
 'huge': 154,
 'human': 150,
 'hundred': 109,
 'hypermarket': 206,
 'ibm': 399,
 'idea': 161,
 'impact': 203,
 'important': 256,
 'improve': 105,
 'inc': 954,
 'include': 229,
 'included': 139,
 'includes': 184,
 'including': 547,
 'increase': 184,
 'increased': 256,
 'independent': 120,
 'india': 100,
 'individual': 131,
 'industrial': 101,
 'industry': 299,
 'information': 509,
 'innovation': 124,
 'insider': 396,
 'instagram': 115,
 'instead': 163,
 'institutional': 404,
 'intelligence': 188,
 'interest': 229,
 'internal': 113,
 'international': 627,
 'internet': 199,
 'interview': 138,
 'investigation': 188,
 'investing': 124,
 'investment': 617,
 'investor': 710,
 'involved': 110,
 'iphone': 295,
 'iphones': 193,
 'issue': 380,
 'issued': 527,
 'james': 121,
 'jan': 103,
 'january': 424,
 'jetcom': 214,
 'jim': 102,
 'job': 255,
 'john': 184,
 'jpmorgan': 128,
 'judge': 122,
 'july': 234,
 'june': 333,
 'keep': 230,
 'key': 214,
 'kind': 154,
 'know': 285,
 'known': 174,
 'lack': 101,
 'large': 497,
 'largely': 105,
 'last': 1030,
 'late': 704,
 'later': 251,
 'launch': 125,
 'launched': 155,
 'law': 315,
 'lawsuit': 169,
 'le': 169,
 'lead': 203,
 'leader': 211,
 'leading': 178,
 'least': 219,
 'led': 194,
 'left': 195,
 'legal': 348,
 'length': 1761,
 'less': 102,
 'let': 178,
 'level': 231,
 'life': 269,
 'lifted': 162,
 'light': 115,
 'like': 563,
 'likely': 194,
 'limited': 395,
 'line': 209,
 'link': 170,
 'list': 123,
 'little': 194,
 'live': 139,
 'llc': 633,
 'loaddate': 1761,
 'local': 159,
 'london': 212,
 'long': 291,
 'longer': 110,
 'look': 276,
 'looking': 218,
 'loss': 165,
 'lost': 143,
 'lot': 221,
 'low': 626,
 'lowered': 126,
 'ltd': 307,
 'machine': 201,
 'made': 587,
 'main': 127,
 'major': 437,
 'make': 590,
 'maker': 169,
 'making': 365,
 'management': 532,
 'manager': 194,
 'many': 509,
 'march': 342,
 'margin': 456,
 'mark': 408,
 'market': 916,
 'marketbeatcom': 127,
 'massive': 103,
 'material': 115,
 'matter': 223,
 'may': 752,
 'mean': 215,
 'measure': 112,
 'medium': 666,
 'meet': 100,
 'meeting': 129,
 'member': 256,
 'membershiponly': 205,
 'message': 165,
 'microsoft': 177,
 'might': 232,
 'million': 596,
 'minute': 108,
 'mobile': 409,
 'modclothcom': 205,
 'model': 284,
 'modified': 128,
 'monday': 607,
 'money': 253,
 'month': 697,
 'moosejawcom': 205,
 'morgan': 138,
 'morning': 104,
 'move': 316,
 'moving': 113,
 'much': 426,
 'multiple': 135,
 'must': 183,
 'name': 181,
 'nasdaq': 105,
 'nation': 100,
 'national': 345,
 'near': 102,
 'nearly': 219,
 'need': 434,
 'needed': 112,
 'net': 471,
 'network': 403,
 'neutral': 298,
 'never': 245,
 'new': 1184,
 'news': 1099,
 'newsletter': 136,
 'newspaper': 222,
 'newstex': 409,
 'next': 332,
 'nineteen': 181,
 'north': 130,
 'note': 321,
 'noted': 144,
 'nothing': 122,
 'november': 406,
 'number': 627,
 'nyse': 439,
 'objective': 185,
 'occurred': 123,
 'october': 416,
 'offer': 257,
 'offering': 152,
 'office': 205,
 'officer': 222,
 'official': 230,
 'often': 159,
 'old': 226,
 'one': 994,
 'online': 307,
 'open': 262,
 'opened': 416,
 'opening': 109,
 'operates': 413,
 'operating': 255,
 'operation': 472,
 'opinion': 128,
 'opportunity': 218,
 'option': 122,
 'order': 265,
 'organization': 103,
 'original': 117,
 'others': 185,
 'outperform': 129,
 'outside': 147,
 'overall': 103,
 'owned': 413,
 'owns': 451,
 'page': 231,
 'paid': 246,
 'part': 427,
 'particular': 108,
 'particularly': 133,
 'partner': 289,
 'partnership': 112,
 'party': 219,
 'past': 321,
 'patent': 106,
 'pay': 292,
 'payout': 102,
 'peg': 133,
 'people': 674,
 'per': 722,
 'percent': 235,
 'performance': 143,
 'period': 501,
 'person': 189,
 'personal': 317,
 'phone': 230,
 'photo': 181,
 'place': 243,
 'plan': 304,
 'platform': 411,
 'play': 122,
 'please': 153,
 'plus': 175,
 'point': 344,
 'policy': 255,
 'political': 249,
 'portfolio': 173,
 'position': 548,
 'positive': 101,
 'possible': 148,
 'post': 701,
 'posted': 365,
 'potential': 206,
 'potentially': 107,
 'power': 235,
 'practice': 207,
 'predict': 116,
 'presently': 138,
 'president': 372,
 'presidential': 124,
 'press': 236,
 'pressure': 128,
 'prevent': 122,
 'previous': 233,
 'previously': 187,
 'price': 752,
 'priceearnings': 138,
 'priceearningsgrowth': 112,
 'prior': 221,
 'privacy': 255,
 'private': 315,
 'problem': 259,
 'process': 189,
 'product': 471,
 'profile': 285,
 'profit': 203,
 'program': 188,
 'project': 173,
 'property': 103,
 'protect': 168,
 'protection': 150,
 'provide': 212,
 'provided': 240,
 'provides': 106,
 'public': 414,
 'publicly': 124,
 'published': 169,
 'purchase': 145,
 'purchased': 167,
 'purchasing': 225,
 'purpose': 111,
 'put': 248,
 'quarter': 610,
 'quarterly': 409,
 'question': 325,
 'quick': 385,
 'quickly': 122,
 'raise': 120,
 'raised': 335,
 'range': 112,
 'rate': 190,
 'rated': 400,
 'rather': 180,
 'rating': 454,
 'ratio': 405,
 'reach': 154,
 'reached': 115,
 'read': 176,
 'real': 189,
 'really': 207,
 'reason': 188,
 'receive': 205,
 'received': 134,
 'recent': 682,
 'recently': 588,
 'record': 337,
 'red': 107,
 'reduced': 196,
 'regarding': 134,
 'regulation': 167,
 'regulator': 132,
 'regulatory': 107,
 'reiterated': 109,
 'related': 366,
 'relation': 111,
 'relationship': 149,
 'release': 165,
 'released': 228,
 'remain': 144,
 'remains': 134,
 'report': 782,
 'reported': 665,
 'reporting': 186,
 'represents': 153,
 'request': 156,
 'required': 127,
 'requirement': 118,
 'research': 703,
 'reserved': 1651,
 'respond': 118,
 'response': 179,
 'responsibility': 127,
 'result': 607,
 'retail': 453,
 'retailer': 409,
 'return': 521,
 'reuters': 180,
 'revealed': 129,
 'revenue': 732,
 'review': 170,
 'right': 1684,
 'rise': 126,
 'risk': 200,
 'rival': 128,
 'robert': 166,
 'robson': 122,
 'role': 214,
 'rose': 119,
 'royal': 161,
 'rule': 210,
 'run': 219,
 'running': 111,
 'russian': 119,
 'sachs': 152,
 'said': 1009,
 'sale': 637,
 'sam': 355,
 'samsclubcom': 210,
 'san': 173,
 'saturday': 271,
 'saw': 133,
 'say': 454,
 'saying': 202,
 'scale': 100,
 'scandal': 187,
 'school': 113,
 'science': 122,
 'search': 103,
 'sec': 311,
 'second': 369,
 'section': 838,
 'sector': 140,
 'security': 607,
 'see': 662,
 'seek': 103,
 'seeking': 125,
 'seems': 106,
 'seen': 210,
 'segment': 427,
 'sell': 401,
 'selling': 333,
 'senior': 205,
 'sense': 105,
 'sent': 121,
 'september': 334,
 'series': 114,
 'service': 718,
 'set': 685,
 'setting': 116,
 'seven': 142,
 'seventeen': 107,
 'several': 554,
 'share': 887,
 'shared': 141,
 'shareholder': 303,
 'sharing': 124,
 'shoescom': 205,
 'short': 130,
 'show': 281,
 'showed': 110,
 'side': 134,
 'sign': 160,
 'significant': 159,
 'silicon': 169,
 'similar': 208,
 'simply': 117,
 'since': 461,
 'single': 112,
 'site': 188,
 'situation': 103,
 'six': 176,
 'sixteen': 113,
 'size': 111,
 'slow': 107,
 'small': 233,
 'smartphone': 122,
 'social': 446,
 'society': 110,
 'software': 314,
 'sold': 493,
 'solution': 353,
 'something': 197,
 'soon': 114,
 'source': 193,
 'south': 119,
 'specific': 141,
 'speech': 108,
 'spending': 102,
 'spent': 131,
 'staff': 152,
 'stake': 403,
 'stand': 106,
 'standard': 152,
 'stanley': 100,
 'star': 100,
 'start': 225,
 'started': 186,
 'state': 648,
 'statement': 305,
 'step': 182,
 'still': 406,
 'stock': 672,
 'stop': 117,
 'store': 600,
 'story': 289,
 'strategic': 105,
 'strategy': 187,
 'street': 209,
 'strong': 566,
 'study': 106,
 'subject': 159,
 'success': 116,
 'summary': 161,
 'sunday': 198,
 'supercenters': 213,
 'supermarket': 220,
 'supplier': 128,
 'supply': 132,
 'support': 245,
 'sure': 102,
 'system': 491,
 'take': 437,
 'taken': 157,
 'taking': 197,
 'talk': 155,
 'target': 626,
 'targeted': 103,
 'tax': 134,
 'team': 242,
 'tech': 426,
 'technology': 699,
 'tell': 119,
 'term': 230,
 'thing': 303,
 'think': 286,
 'third': 335,
 'thomson': 103,
 'though': 218,
 'thought': 115,
 'thousand': 117,
 'threat': 117,
 'three': 669,
 'thursday': 703,
 'tim': 140,
 'time': 830,
 'ting': 125,
 'today': 313,
 'together': 156,
 'told': 332,
 'took': 222,
 'tool': 203,
 'top': 272,
 'topic': 102,
 'topping': 175,
 'total': 470,
 'trade': 502,
 'traded': 100,
 'trading': 203,
 'transaction': 363,
 'trump': 252,
 'trust': 241,
 'try': 125,
 'trying': 182,
 'tuesday': 674,
 'turn': 170,
 'twitter': 212,
 'two': 737,
 'type': 125,
 'understand': 128,
 'unit': 219,
 'united': 405,
 'university': 199,
 'update': 156,
 'upgraded': 113,
 'us': 108,
 'use': 443,
 'used': 405,
 'user': 506,
 'using': 322,
 'valley': 179,
 'value': 494,
 'valued': 374,
 'various': 452,
 'version': 288,
 'via': 123,
 'vice': 163,
 'video': 184,
 'view': 234,
 'visit': 316,
 'voiceactivated': 209,
 'wall': 173,
 'walmart': 494,
 'walmartcom': 216,
 'walton': 216,
 'want': 495,
 'wanted': 115,
 'war': 117,
 'warehouse': 224,
 'washington': 247,
 'watch': 151,
 'way': 469,
 'wealth': 172,
 'web': 103,
 'website': 456,
 'wednesday': 630,
 'week': 671,
 'weighed': 127,
 'well': 595,
 'went': 190,
 'whether': 325,
 'white': 113,
 'whole': 120,
 'wholesale': 324,
 'whose': 149,
 'within': 236,
 'without': 304,
 'wmt': 352,
 'word': 1761,
 'work': 414,
 'worked': 154,
 'worker': 116,
 'working': 288,
 'world': 720,
 'worldwide': 368,
 'worth': 503,
 'would': 739,
 'wrote': 180,
 'year': 1320,
 'yearoveryear': 189,
 'yesterday': 114,
 'yet': 242,
 'yield': 150,
 'york': 333,
 'young': 130,
 'zacks': 222,
 'zuckerberg': 285}

### Get words in documents which have positive returns

In [50]:
stem_all_pos=stem_all[stem_all['sign function']==1]

### Document frequency for sgn funtion=1

In [51]:
doclist_pos=stem_all_pos['stem']
dictionary_pos = corpora.Dictionary(doclist_pos)
word_dic_pos={}
for key,value in dictionary_pos.dfs.items():
    word=dictionary_pos[key]
    word_dic_pos[word]=value

### Assume =100 and get document frequncies for all words related with positive returns

In [52]:
for i in word_dic_pos.copy():
    if(word_dic_pos[i]<100):
        word_dic_pos.pop(i)
word_dic_pos

{'according': 301,
 'account': 124,
 'across': 108,
 'action': 104,
 'added': 134,
 'additional': 221,
 'address': 126,
 'already': 115,
 'also': 503,
 'america': 138,
 'american': 156,
 'among': 100,
 'analyst': 253,
 'announced': 192,
 'another': 116,
 'apple': 137,
 'application': 127,
 'approximately': 167,
 'april': 158,
 'around': 188,
 'article': 118,
 'assigned': 101,
 'august': 181,
 'available': 145,
 'average': 235,
 'back': 147,
 'bank': 200,
 'based': 134,
 'basis': 116,
 'beta': 168,
 'big': 194,
 'billion': 361,
 'body': 680,
 'bonoboscom': 110,
 'bought': 115,
 'business': 434,
 'buy': 246,
 'buying': 108,
 'byline': 335,
 'call': 116,
 'called': 123,
 'canada': 121,
 'capital': 162,
 'carry': 131,
 'case': 150,
 'cash': 167,
 'ceo': 138,
 'change': 242,
 'chief': 163,
 'clear': 100,
 'club': 157,
 'clubs': 111,
 'come': 152,
 'commerce': 163,
 'commission': 212,
 'company': 582,
 'compared': 215,
 'consensus': 184,
 'consumer': 104,
 'content': 142,
 'convenience': 120,
 'copyright': 680,
 'cost': 111,
 'could': 240,
 'country': 117,
 'current': 259,
 'currently': 169,
 'customer': 152,
 'cut': 118,
 'daily': 106,
 'data': 284,
 'day': 248,
 'debtequity': 160,
 'decision': 103,
 'delivered': 203,
 'digital': 137,
 'directly': 132,
 'director': 157,
 'disclosed': 167,
 'disclosure': 166,
 'discount': 124,
 'document': 680,
 'drugstore': 110,
 'early': 103,
 'earnings': 227,
 'edition': 134,
 'email': 105,
 'end': 680,
 'engages': 114,
 'eps': 164,
 'equity': 183,
 'est': 226,
 'estimate': 234,
 'even': 179,
 'every': 111,
 'exchange': 142,
 'executive': 160,
 'expect': 109,
 'expectation': 110,
 'expected': 104,
 'facebook': 222,
 'february': 103,
 'filed': 113,
 'filing': 209,
 'finally': 207,
 'financial': 202,
 'firm': 287,
 'first': 284,
 'fiscal': 117,
 'five': 104,
 'following': 272,
 'format': 149,
 'found': 255,
 'free': 117,
 'friday': 281,
 'fund': 201,
 'future': 107,
 'gave': 180,
 'get': 251,
 'giant': 129,
 'give': 108,
 'given': 195,
 'global': 174,
 'going': 110,
 'good': 172,
 'government': 103,
 'great': 102,
 'grew': 101,
 'group': 327,
 'growth': 122,
 'hayneedlecom': 110,
 'hedge': 169,
 'help': 160,
 'high': 302,
 'hold': 229,
 'holding': 197,
 'however': 134,
 'hypermarket': 110,
 'ibm': 153,
 'important': 109,
 'inc': 371,
 'including': 200,
 'increased': 107,
 'industry': 107,
 'information': 195,
 'insider': 165,
 'institutional': 173,
 'international': 271,
 'investment': 247,
 'investor': 291,
 'issue': 154,
 'issued': 228,
 'january': 166,
 'jetcom': 115,
 'july': 118,
 'june': 195,
 'know': 123,
 'large': 193,
 'last': 407,
 'late': 253,
 'law': 119,
 'legal': 137,
 'length': 680,
 'life': 105,
 'like': 217,
 'limited': 170,
 'llc': 264,
 'loaddate': 680,
 'long': 119,
 'low': 261,
 'made': 220,
 'major': 210,
 'make': 223,
 'making': 161,
 'management': 213,
 'many': 199,
 'margin': 196,
 'mark': 163,
 'market': 346,
 'may': 357,
 'medium': 270,
 'member': 110,
 'membershiponly': 110,
 'million': 235,
 'mobile': 194,
 'modclothcom': 110,
 'monday': 230,
 'money': 107,
 'month': 273,
 'moosejawcom': 110,
 'move': 106,
 'much': 159,
 'national': 122,
 'need': 190,
 'net': 213,
 'network': 159,
 'neutral': 118,
 'new': 448,
 'news': 446,
 'newstex': 177,
 'next': 112,
 'note': 133,
 'november': 104,
 'number': 269,
 'nyse': 191,
 'october': 125,
 'one': 396,
 'online': 138,
 'open': 110,
 'opened': 176,
 'operates': 181,
 'operation': 212,
 'order': 102,
 'owned': 168,
 'owns': 182,
 'page': 107,
 'part': 157,
 'partner': 100,
 'past': 121,
 'pay': 107,
 'people': 251,
 'per': 306,
 'period': 218,
 'personal': 125,
 'plan': 128,
 'platform': 173,
 'point': 123,
 'policy': 104,
 'position': 228,
 'post': 280,
 'posted': 164,
 'president': 148,
 'previous': 108,
 'price': 294,
 'privacy': 104,
 'private': 155,
 'problem': 102,
 'product': 171,
 'profile': 112,
 'public': 165,
 'purchasing': 105,
 'quarter': 252,
 'quarterly': 179,
 'question': 134,
 'quick': 172,
 'raised': 139,
 'rated': 173,
 'rating': 190,
 'ratio': 177,
 'recent': 281,
 'recently': 225,
 'record': 110,
 'related': 142,
 'report': 327,
 'reported': 291,
 'research': 282,
 'reserved': 637,
 'result': 261,
 'retail': 211,
 'retailer': 185,
 'return': 221,
 'revenue': 313,
 'right': 649,
 'said': 341,
 'sale': 262,
 'sam': 165,
 'samsclubcom': 112,
 'say': 171,
 'sec': 145,
 'second': 138,
 'section': 302,
 'security': 255,
 'see': 272,
 'segment': 191,
 'sell': 124,
 'selling': 132,
 'september': 103,
 'service': 305,
 'set': 281,
 'several': 222,
 'share': 349,
 'shareholder': 149,
 'shoescom': 110,
 'show': 100,
 'since': 165,
 'social': 180,
 'software': 101,
 'sold': 208,
 'solution': 161,
 'stake': 166,
 'state': 287,
 'statement': 121,
 'still': 155,
 'stock': 255,
 'store': 257,
 'story': 109,
 'strong': 249,
 'supercenters': 111,
 'supermarket': 118,
 'system': 187,
 'take': 177,
 'target': 257,
 'tech': 139,
 'technology': 259,
 'term': 100,
 'thing': 129,
 'think': 126,
 'third': 144,
 'three': 278,
 'thursday': 282,
 'time': 322,
 'today': 136,
 'told': 112,
 'total': 219,
 'trade': 180,
 'transaction': 166,
 'trust': 111,
 'tuesday': 259,
 'two': 271,
 'united': 170,
 'use': 161,
 'used': 144,
 'user': 182,
 'using': 121,
 'value': 200,
 'valued': 178,
 'various': 205,
 'version': 106,
 'visit': 147,
 'voiceactivated': 114,
 'walmart': 231,
 'walmartcom': 119,
 'walton': 130,
 'want': 212,
 'warehouse': 115,
 'way': 177,
 'website': 212,
 'wednesday': 251,
 'week': 256,
 'well': 247,
 'whether': 137,
 'wholesale': 143,
 'without': 124,
 'wmt': 157,
 'word': 680,
 'work': 159,
 'working': 121,
 'world': 257,
 'worldwide': 185,
 'worth': 221,
 'would': 269,
 'year': 517,
 'york': 103,
 'zuckerberg': 118}

### Calcuate fi

In [53]:
fi={}
for word in word_dic_pos:
    pos=word_dic_pos[word]
    full=word_dic[word]
    fi[word]=pos/full
fi

{'according': 0.39090909090909093,
 'account': 0.43661971830985913,
 'across': 0.4153846153846154,
 'action': 0.3701067615658363,
 'added': 0.33753148614609574,
 'additional': 0.4185606060606061,
 'address': 0.4186046511627907,
 'already': 0.39655172413793105,
 'also': 0.3893188854489164,
 'america': 0.45695364238410596,
 'american': 0.36792452830188677,
 'among': 0.3508771929824561,
 'analyst': 0.3892307692307692,
 'announced': 0.4496487119437939,
 'another': 0.32954545454545453,
 'apple': 0.2778904665314402,
 'application': 0.4471830985915493,
 'approximately': 0.5,
 'april': 0.5015873015873016,
 'around': 0.3533834586466165,
 'article': 0.4591439688715953,
 'assigned': 0.42436974789915966,
 'august': 0.530791788856305,
 'available': 0.4005524861878453,
 'average': 0.4484732824427481,
 'back': 0.3838120104438642,
 'bank': 0.4694835680751174,
 'based': 0.38285714285714284,
 'basis': 0.39862542955326463,
 'beta': 0.4253164556962025,
 'big': 0.3527272727272727,
 'billion': 0.41589861751152074,
 'body': 0.3861442362294151,
 'bonoboscom': 0.5365853658536586,
 'bought': 0.4356060606060606,
 'business': 0.3888888888888889,
 'buy': 0.4019607843137255,
 'buying': 0.3829787234042553,
 'byline': 0.359828141783029,
 'call': 0.38666666666666666,
 'called': 0.37962962962962965,
 'canada': 0.41580756013745707,
 'capital': 0.43315508021390375,
 'carry': 0.5077519379844961,
 'case': 0.3778337531486146,
 'cash': 0.4868804664723032,
 'ceo': 0.4144144144144144,
 'change': 0.4384057971014493,
 'chief': 0.36877828054298645,
 'clear': 0.46296296296296297,
 'club': 0.4590643274853801,
 'clubs': 0.5336538461538461,
 'come': 0.39378238341968913,
 'commerce': 0.46839080459770116,
 'commission': 0.4317718940936864,
 'company': 0.38748335552596536,
 'compared': 0.4291417165668663,
 'consensus': 0.42298850574712643,
 'consumer': 0.33876221498371334,
 'content': 0.46557377049180326,
 'convenience': 0.5263157894736842,
 'copyright': 0.3861442362294151,
 'cost': 0.4065934065934066,
 'could': 0.35874439461883406,
 'country': 0.36335403726708076,
 'current': 0.419773095623987,
 'currently': 0.42039800995024873,
 'customer': 0.4222222222222222,
 'cut': 0.37579617834394907,
 'daily': 0.33650793650793653,
 'data': 0.40863309352517985,
 'day': 0.4196277495769882,
 'debtequity': 0.4456824512534819,
 'decision': 0.37050359712230213,
 'delivered': 0.4422657952069717,
 'digital': 0.40175953079178883,
 'directly': 0.44,
 'director': 0.42318059299191374,
 'disclosed': 0.46518105849582175,
 'disclosure': 0.47293447293447294,
 'discount': 0.5299145299145299,
 'document': 0.3861442362294151,
 'drugstore': 0.5339805825242718,
 'early': 0.3355048859934853,
 'earnings': 0.4172794117647059,
 'edition': 0.36314363143631434,
 'email': 0.3736654804270463,
 'end': 0.3861442362294151,
 'engages': 0.5402843601895735,
 'eps': 0.42597402597402595,
 'equity': 0.40848214285714285,
 'est': 0.4296577946768061,
 'estimate': 0.4482758620689655,
 'even': 0.3816631130063966,
 'every': 0.4051094890510949,
 'exchange': 0.42388059701492536,
 'executive': 0.3411513859275053,
 'expect': 0.44672131147540983,
 'expectation': 0.48034934497816595,
 'expected': 0.37681159420289856,
 'facebook': 0.36938435940099834,
 'february': 0.3169230769230769,
 'filed': 0.3633440514469453,
 'filing': 0.43451143451143454,
 'finally': 0.4339622641509434,
 'financial': 0.3840304182509506,
 'firm': 0.3801324503311258,
 'first': 0.4109985528219971,
 'fiscal': 0.4482758620689655,
 'five': 0.38095238095238093,
 'following': 0.4883303411131059,
 'format': 0.44879518072289154,
 'found': 0.448943661971831,
 'free': 0.3667711598746082,
 'friday': 0.39136490250696376,
 'fund': 0.4196242171189979,
 'future': 0.3807829181494662,
 'gave': 0.40632054176072235,
 'get': 0.41080196399345337,
 'giant': 0.3593314763231198,
 'give': 0.3711340206185567,
 'given': 0.40625,
 'global': 0.4,
 'going': 0.3873239436619718,
 'good': 0.40093240093240096,
 'government': 0.37050359712230213,
 'great': 0.39080459770114945,
 'grew': 0.47641509433962265,
 'group': 0.40171990171990174,
 'growth': 0.38485804416403785,
 'hayneedlecom': 0.5365853658536586,
 'hedge': 0.42355889724310775,
 'help': 0.3970223325062035,
 'high': 0.4120054570259209,
 'hold': 0.41560798548094374,
 'holding': 0.40451745379876797,
 'however': 0.40978593272171254,
 'hypermarket': 0.5339805825242718,
 'ibm': 0.38345864661654133,
 'important': 0.42578125,
 'inc': 0.3888888888888889,
 'including': 0.3656307129798903,
 'increased': 0.41796875,
 'industry': 0.35785953177257523,
 'information': 0.3831041257367387,
 'insider': 0.4166666666666667,
 'institutional': 0.4282178217821782,
 'international': 0.43221690590111644,
 'investment': 0.40032414910858993,
 'investor': 0.4098591549295775,
 'issue': 0.4052631578947368,
 'issued': 0.43263757115749524,
 'january': 0.3915094339622642,
 'jetcom': 0.5373831775700935,
 'july': 0.5042735042735043,
 'june': 0.5855855855855856,
 'know': 0.43157894736842106,
 'large': 0.38832997987927564,
 'last': 0.3951456310679612,
 'late': 0.359375,
 'law': 0.37777777777777777,
 'legal': 0.3936781609195402,
 'length': 0.3861442362294151,
 'life': 0.3903345724907063,
 'like': 0.38543516873889877,
 'limited': 0.43037974683544306,
 'llc': 0.41706161137440756,
 'loaddate': 0.3861442362294151,
 'long': 0.40893470790378006,
 'low': 0.4169329073482428,
 'made': 0.3747870528109029,
 'major': 0.4805491990846682,
 'make': 0.37796610169491524,
 'making': 0.4410958904109589,
 'management': 0.40037593984962405,
 'many': 0.39096267190569745,
 'margin': 0.4298245614035088,
 'mark': 0.39950980392156865,
 'market': 0.3777292576419214,
 'may': 0.4747340425531915,
 'medium': 0.40540540540540543,
 'member': 0.4296875,
 'membershiponly': 0.5365853658536586,
 'million': 0.39429530201342283,
 'mobile': 0.4743276283618582,
 'modclothcom': 0.5365853658536586,
 'monday': 0.37891268533772654,
 'money': 0.42292490118577075,
 'month': 0.3916786226685796,
 'moosejawcom': 0.5365853658536586,
 'move': 0.33544303797468356,
 'much': 0.3732394366197183,
 'national': 0.3536231884057971,
 'need': 0.4377880184331797,
 'net': 0.45222929936305734,
 'network': 0.3945409429280397,
 'neutral': 0.3959731543624161,
 'new': 0.3783783783783784,
 'news': 0.40582347588717016,
 'newstex': 0.43276283618581907,
 'next': 0.3373493975903614,
 'note': 0.4143302180685358,
 'november': 0.2561576354679803,
 'number': 0.42902711323763953,
 'nyse': 0.43507972665148065,
 'october': 0.3004807692307692,
 'one': 0.3983903420523139,
 'online': 0.4495114006514658,
 'open': 0.4198473282442748,
 'opened': 0.4230769230769231,
 'operates': 0.43825665859564167,
 'operation': 0.4491525423728814,
 'order': 0.3849056603773585,
 'owned': 0.4067796610169492,
 'owns': 0.4035476718403548,
 'page': 0.46320346320346323,
 'part': 0.36768149882903983,
 'partner': 0.3460207612456747,
 'past': 0.37694704049844235,
 'pay': 0.3664383561643836,
 'people': 0.3724035608308605,
 'per': 0.42382271468144045,
 'period': 0.4351297405189621,
 'personal': 0.3943217665615142,
 'plan': 0.42105263157894735,
 'platform': 0.4209245742092457,
 'point': 0.35755813953488375,
 'policy': 0.40784313725490196,
 'position': 0.41605839416058393,
 'post': 0.39942938659058486,
 'posted': 0.44931506849315067,
 'president': 0.3978494623655914,
 'previous': 0.463519313304721,
 'price': 0.39095744680851063,
 'privacy': 0.40784313725490196,
 'private': 0.49206349206349204,
 'problem': 0.3938223938223938,
 'product': 0.3630573248407643,
 'profile': 0.3929824561403509,
 'public': 0.39855072463768115,
 'purchasing': 0.4666666666666667,
 'quarter': 0.4131147540983607,
 'quarterly': 0.43765281173594134,
 'question': 0.4123076923076923,
 'quick': 0.44675324675324674,
 'raised': 0.41492537313432837,
 'rated': 0.4325,
 'rating': 0.4185022026431718,
 'ratio': 0.43703703703703706,
 'recent': 0.4120234604105572,
 'recently': 0.3826530612244898,
 'record': 0.3264094955489614,
 'related': 0.3879781420765027,
 'report': 0.41815856777493604,
 'reported': 0.43759398496240604,
 'research': 0.4011379800853485,
 'reserved': 0.3858267716535433,
 'result': 0.4299835255354201,
 'retail': 0.46578366445916114,
 'retailer': 0.45232273838630804,
 'return': 0.42418426103646834,
 'revenue': 0.4275956284153005,
 'right': 0.3853919239904988,
 'said': 0.3379583746283449,
 'sale': 0.41130298273155413,
 'sam': 0.4647887323943662,
 'samsclubcom': 0.5333333333333333,
 'say': 0.3766519823788546,
 'sec': 0.4662379421221865,
 'second': 0.37398373983739835,
 'section': 0.360381861575179,
 'security': 0.4200988467874794,
 'see': 0.4108761329305136,
 'segment': 0.44730679156908665,
 'sell': 0.3092269326683292,
 'selling': 0.3963963963963964,
 'september': 0.3083832335329341,
 'service': 0.42479108635097496,
 'set': 0.41021897810218977,
 'several': 0.4007220216606498,
 'share': 0.39346110484780156,
 'shareholder': 0.49174917491749176,
 'shoescom': 0.5365853658536586,
 'show': 0.35587188612099646,
 'since': 0.3579175704989154,
 'social': 0.40358744394618834,
 'software': 0.321656050955414,
 'sold': 0.42190669371196754,
 'solution': 0.45609065155807366,
 'stake': 0.4119106699751861,
 'state': 0.44290123456790126,
 'statement': 0.39672131147540984,
 'still': 0.3817733990147783,
 'stock': 0.3794642857142857,
 'store': 0.42833333333333334,
 'story': 0.3771626297577855,
 'strong': 0.43992932862190814,
 'supercenters': 0.5211267605633803,
 'supermarket': 0.5363636363636364,
 'system': 0.38085539714867617,
 'take': 0.40503432494279173,
 'target': 0.41054313099041534,
 'tech': 0.32629107981220656,
 'technology': 0.37052932761087265,
 'term': 0.43478260869565216,
 'thing': 0.42574257425742573,
 'think': 0.4405594405594406,
 'third': 0.4298507462686567,
 'three': 0.4155455904334828,
 'thursday': 0.4011379800853485,
 'time': 0.38795180722891565,
 'today': 0.43450479233226835,
 'told': 0.3373493975903614,
 'total': 0.46595744680851064,
 'trade': 0.35856573705179284,
 'transaction': 0.4573002754820937,
 'trust': 0.4605809128630705,
 'tuesday': 0.38427299703264095,
 'two': 0.3677069199457259,
 'united': 0.41975308641975306,
 'use': 0.36343115124153497,
 'used': 0.35555555555555557,
 'user': 0.35968379446640314,
 'using': 0.37577639751552794,
 'value': 0.4048582995951417,
 'valued': 0.47593582887700536,
 'various': 0.45353982300884954,
 'version': 0.3680555555555556,
 'visit': 0.4651898734177215,
 'voiceactivated': 0.5454545454545454,
 'walmart': 0.4676113360323887,
 'walmartcom': 0.5509259259259259,
 'walton': 0.6018518518518519,
 'want': 0.42828282828282827,
 'warehouse': 0.5133928571428571,
 'way': 0.3773987206823028,
 'website': 0.4649122807017544,
 'wednesday': 0.3984126984126984,
 'week': 0.38152011922503726,
 'well': 0.4151260504201681,
 'whether': 0.42153846153846153,
 'wholesale': 0.44135802469135804,
 'without': 0.40789473684210525,
 'wmt': 0.4460227272727273,
 'word': 0.3861442362294151,
 'work': 0.38405797101449274,
 'working': 0.4201388888888889,
 'world': 0.35694444444444445,
 'worldwide': 0.5027173913043478,
 'worth': 0.4393638170974155,
 'would': 0.36400541271989173,
 'year': 0.39166666666666666,
 'york': 0.30930930930930933,
 'zuckerberg': 0.41403508771929826}

### I assume fi>0.45 is positive and fi<0.35 is negative and remove word with fi=1

In [54]:
for i in fi.copy():
    if (fi[i]==1.0):
        fi.pop(i)

In [55]:
pos=[]
neg=[]
for i in fi:
    if(fi[i]>0.45):
        pos.append(i)
    if(fi[i]<0.35):
        neg.append(i)

#### postive words

In [56]:
pos

['august',
 'content',
 'bank',
 'may',
 'visit',
 'america',
 'valued',
 'mobile',
 'shareholder',
 'page',
 'july',
 'following',
 'private',
 'expectation',
 'major',
 'solution',
 'purchasing',
 'june',
 'clear',
 'april',
 'retail',
 'total',
 'commerce',
 'club',
 'previous',
 'trust',
 'disclosed',
 'cash',
 'grew',
 'retailer',
 'article',
 'worldwide',
 'net',
 'website',
 'sec',
 'carry',
 'transaction',
 'various',
 'walmart',
 'sam',
 'warehouse',
 'discount',
 'approximately',
 'disclosure',
 'voiceactivated',
 'convenience',
 'engages',
 'supermarket',
 'walton',
 'supercenters',
 'hypermarket',
 'clubs',
 'drugstore',
 'membershiponly',
 'walmartcom',
 'jetcom',
 'hayneedlecom',
 'shoescom',
 'moosejawcom',
 'modclothcom',
 'bonoboscom',
 'samsclubcom']

##### negative words

In [57]:
neg

['apple',
 'record',
 'sell',
 'executive',
 'early',
 'software',
 'consumer',
 'said',
 'move',
 'next',
 'another',
 'february',
 'september',
 'told',
 'york',
 'tech',
 'added',
 'partner',
 'daily',
 'november',
 'october']